*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    color: aliceblue;
}

body{
    background-color: #181818;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    max-width: 300px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P';
}

.container-input{
    max-width: 450px;
    margin: 14px;
}

.container-input span{
    font-size: 25px;
}

.slider{
    width: 100%;
    border-radius: 5px;
    background: #dfdfdfdf;
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.button-cta{
    height: 40px;
    background-color: forestgreen;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.5s;
}

.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}

.title{
    font-size: 20px;
    max-width: 200px;
    margin-bottom: 20px;
    display: flex;
}

.password{
    max-width: 500px;
    height: 60px;
    background-color: rgba( 0, 0, 0, 0.40);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid #31313131;
    transition: transform 0.5s;
}

.hide{
    display: none;
}

.container-password:hover .tool{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
    transform: scale(1.06);
}

.password:hover{
transform: scale(1.05);    
}

.button-cta:hover{
transform: scale(1.05);    
}

@media only screnn and (max-width: 600px){
    .main, .h1, .div{
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
    }

}